* {
  box-sizing: content-box;
}
body {
  margin: 0;
  padding: 0;
}
.main-content {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 50px auto;
}
.header {
  width: 428px;
  margin-right: 87px;
  position: relative;
}
.header .title {
  margin-top: 29px;
  font-size: 30px;
  font-weight: bold;
  font-family: Poppins;
  line-height: 1.33;
  letter-spacing: -0.29px;
  text-align: left;
  color: #1f2c40;
}
.header .line {
  width: 140px;
  height: 2px;
  margin: 10px 107.5px 2px 0px;
  background-color: #e03116;
}
.column-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 640px;
}

.column-item {
  flex: 0 0 273px;
  margin-bottom: 40px;
}
.column-title {
  font-size: 20px;
  line-height: 1.17;
  font-family: Poppins;
  letter-spacing: -0.19px;
  font-weight: 600;
  text-align: left;
  color: #1f2c40;
}
.column-desc {
  font-size: 15px;
  margin-top: 7px;
  font-family: Poppins;
  line-height: 24px;
  letter-spacing: -0.14px;
  font-weight: 300;
  text-align: left;
  color: #666;
}

@media screen and (max-width: 768px) {
  .main-content {
    flex-direction: column;
    max-width: 600px;
    padding: 15px;
  }

  .header {
    width: 100%;
    margin-bottom: 64px;
  }

  .column-layout {
    width: 100%;
  }

  .column-item {
    flex: 0 0 100%;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .main-content {
    flex-direction: column;
    max-width: 900px;
  }

  .header {
    width: 100%;
    margin-bottom: 60px;
    margin-left: 20px;
  }

  .column-layout {
    width: 100%;
    margin-left: -40px;
  }

  .column-item {
    flex: 0 0 calc(50% - 55px);
    margin-left: 55px;
  }
}
